{% extends 'home_page.html'%}



{%block content%}
{%if new == 'True'%}
<form method = 'POST' action = '/inventory/publish'>
<input type = 'hidden' name = 'new' value = {{new}}>
    {%include 'official_form.html'%}
 <Button type = 'submit'>Submit</Button>
</form>
{%else%}
<form method = 'POST' action = '/inventory/publish'>
<input type = 'hidden' name = '_id' value = {{item._id}}>
Type in image source<input type = 'text' name = 'image'  value = '{{item.image}}'>
Type in item name<input type = 'text' name = 'name' value = '{{item.name}}'>
Type in item price <input type = 'text' name = 'price' value = '{{item.price}}'>

<p>Type in description of the Item</p>
<textarea id='playlist-videos' name='description' rows='10' />{{item.description}}</textarea>
 <Button type = 'submit'>Submit</Button>
</form>

{%endif%}

{%endblock%}
