{% extends 'home_page.html'%}


{%block content%}

<p> {{current_item.name}}</p>
<img src = {{current_item.image}} width="100px" height="100px">
<p>{{current_item.description}}</p>
{% if checker == True%}
<form method='POST' action='/show/cart'>
    <input type = 'hidden' name = 'user_id' value = '{{user._id}}'>
    <!-- We are sending route that we are viewing cart and adding an item-->
    <Button type = 'submit'>CHANGE QUANTITY</Button>
</form>
{%endif%}
{%if checker == False%}
<form method='POST' action='/add_cart'>
    <input type = 'hidden' name = '_id' value = '{{current_item._id}}'>
    <input type = 'hidden' name = 'user_id' value = '{{user._id}}'>

    <!-- We are sending route that we are viewing cart and adding an item-->
    <input type = 'hidden' name = 'appending_cart' value = 'TRUE'>
    <Button type = 'submit'>ADD TO CART</Button>
</form>
{%endif%}

{%endblock%}
