{% extends 'home_page.html'%}

{%block content%}

{%for item in seller_items%}

<p> This will display all seller items {{item}}</p>
<div>
    <p>{{item}}</p>
    <form method = 'POST' action = '/inventory/publish'>
        <input type = 'hidden' name = 'seller' value = '{{item.seller}}'>
        <input type = 'hidden' name = 'image' value = '{{item.image}}'>
        <input type = 'hidden' name = 'name' value = '{{item.name}}'>
        <input type = 'hidden' name = 'price' value = '{{item.price}}'>
        <input type = 'hidden' name = 'description' value = '{{item.description}}'>
        <input type = 'hidden' name = 'approval' value = 'True'>

        <Button type = 'submit'>Approve</Button>
    </form>
</div>
{%endfor%}
{%endblock%}
